{% extends "layout.html" %}

{% block title %}
    Create account
{% endblock %}

{% block main %}
    <div class="row justify-content-center w-100">
        <div class="col-4 shadow background_navy_blue">
            <form action="/create_account" method="post">
                <h6 class="py-3 text-white">
                    Create your account
                </h6>
                <div class="form-group py-3">
                    <input autocomplete="off" autofocus class="form-control w-75" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group pb-3">
                    <input autocomplete="off" autofocus class="form-control w-75" name="email" placeholder="Email" type="text">
                </div>
                <div class="form-group pb-3">
                    <input class="form-control w-75" name="new_password" placeholder="Password" type="password">
                </div>
                <div class="form-group pb-3">
                    <input class="form-control w-75" name="confirm_password" placeholder="Confirm Password" type="password">
                </div>
                <button class="btn w-75 headings py-2" type="submit">Create account</button>
                <p class="text-muted pt-3">Have an account? <span><a href="/login">Log in</a></span></p>
            </form>
        </div>
        <div class="col-8 shadow background_yellow d-flex align-items-center">
            <h1 class="text-white">Start building your porfolio and double your income with complimentary $10,000 from $impleTrade.</h1>
        </div>
    </div>
{% endblock %}